
.fade-enter-active {
    animation: bounce-in 5s;
}

.fade-leave-active {
    animation: bounce-in 5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: translateZ(0px);
    }
    50% {
        transform: translateZ(50px);
    }
    100% {
        transform: translateZ(100px);
    }
}
